.postsContainer {
    list-style-type: none;
    padding: 6rem 0 15rem;
    max-width: 95%;
    margin: auto;
    
    @media screen and (max-width: 950px) {
        padding: 0;
        margin-bottom: 6rem;
    }
}

.post {
    &:not(:last-child) {
        margin-bottom: 8rem;
    }

    @media screen and (max-width: 950px) {
        &:not(:last-child) {
            margin-bottom: 6rem;
        }
    }

    &-list-item {
        display: flex;
        align-items: center;
        transition: all .3s ease-in;
        cursor: pointer;
        border-radius: 1rem;

        @media screen and (max-width: 950px) {
            flex-direction: column;
        }

        &:hover {
            transform: translateY(-1rem);

            .post-image-container {
                box-shadow:  0 0 15px 3px var(--color-grey);
            }
        }
    }

    &:nth-child(even) {
        .post-text-container {
            order: 2;
        }
    }

    &-text-container {
        width: 50%;
        max-width: 100%;
        padding: 0 2rem;

        @media screen and (max-width: 950px) {
            flex-direction: column;
            margin-top: 3rem;
            order: 2;
            width: 100%;
            padding: 0;
        }
        
        header {
            margin-bottom: 1.5rem;  
        }
    
        h2, span {
            color: var(--color-secondary);
        }
    }
    
    
    &-image-container {
        width: 50%;
        max-width: 100%;
        border-radius: 1rem;
        overflow: hidden;
        transition: box-shadow .3s ease-in;

        box-sizing: border-box;
        @media screen and (max-width: 950px) {
            width: 100%;
        }
    }

    &-header {
        display: flex;
        align-items: center;

        @media screen and (max-width: 500px) {
            flex-direction: column;
            align-items: flex-start;
        }

        h2 {
            @media screen and (max-width: 500px) {
                margin-bottom: 1rem;
            }
        }
    }

    &-tools {
        display: inline-flex;
        margin-left: 1rem;

        @media screen and (max-width: 500px) {
            margin-left: 0;
            margin-bottom: 1rem;
        }
    }

    &-image {
        &:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &-links-container {
        margin-top: 2rem;
        height: 100%;
    }
}