:root {
  --color-primary: #1685d6;
  --color-secondary: #01518b;
  --color-white-text: #ffffff;
  --color-black-text: #262626;
  --color-element: #ffffff;
  --color-grey: #D9D9D9;
  --color-grey-light: #EEEEEE;
  --color-shadow: 0, 0, 0;
}
